.Rproj.user
.Rhistory
.RData
.Ruserdata

*Rproj

# Command to get rid of these files if they sneak in:
# find . -name '.DS_Store' -type f -delete

**/.DS_Store

# Never check in caches. This file name is set in book_start.R

cache-directory

# This is where RStudio gathers part of the book. Files are transfered to 
# output_dir once the build is complete.

_bookdown_files


# Because _bookdown.yml has book_filename: "book_temp", there is a lot of 
# garbage with this prefix, both individual files and directories. None of
# it should be saved.

book_temp*

# Local junk directory where stuff gets built, but it is not checked in.

junk/*

# Only the book-builder needs to deal with this file. It gets replaced
# everytime you knit a chapter, so it should just be ignored. 

bib/packages.bib

# No matter what happens above, everything in docs/ must be checked in

!docs/*

# Need to think more clearly about how to handle big data. For now, I 
# just ignore them.

IPUMS/extracts/*/*dat





