.Rproj.user
.Rhistory
.RData
.Ruserdata

*Rproj

# Command to get rid of these files if they sneak in:
# find . -name '.DS_Store' -type f -delete

**/.DS_Store

# Never check in caches. This file name is set in book_start.R

cache-directory

# This is where RStudio gathers part of the book. Files are transfered to 
# output_dir once the build is complete.

_bookdown_files


# Because _bookdown.yml has book_filename: "book_temp", there is a lot of 
# garbage with this prefix, both individual files and directories. None of
# it should be saved.

book_temp*

# Local junk directory where stuff gets built, but it is not checked in.

junk/*

# Only the book-builder needs to deal with this file. It gets replaced
# everytime you knit a chapter, so it should just be ignored. 

bib/packages.bib

# No matter what happens above, everything in docs/ must be checked in

!docs/*

# Delete the below next time I edit this file. Does not seem necessary.

# I get annoyed at checking in a libs/ folder everywhere, but maybe we should
# check them in? If you don't, then, unless you have build the html
# file for a chapter yourself, it won't show up nicely when you open it.

# **/*libs

# I don't think that it matters that these files are not pushed for each chapter.
# Might need to revisit this if we start cache'ing results so that the book builds faster.

# **/*_files/

# **/*log
# **/*tex
# **/rsconnect
